<div class="task" [ngClass]="{'completed': newDone}">
    <app-checkbox [(done)]="newDone" (doneChange)="updateTask()" />
    <form *ngIf="editMode else taskTitle" #editForm="ngForm" (submit)="updateTask()" class="editForm">
        <input type="text" class="editInput" (blur)="setEditMode(false)" [(ngModel)]="newTitle"
            [ngModelOptions]="{ standalone: true }" autocomplete="off" />
    </form>
    <ng-template #taskTitle>
        <h3 (click)="setEditMode(true)">{{newTitle}}</h3>
    </ng-template>
    <button class="delete" (click)="onDelete(task.id)">
        <fa-icon [icon]="xMark"></fa-icon>
    </button>

</div>