/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
    box-sizing: content-box;
    font-family: "Rubik", system-ui, Avenir, Helvetica, Arial, sans-serif;
    padding: 0;
    border: 0;
}

:root {
    --item-bg: #d5d5d5;
    /* Light gray background */
    --item-hover: #cacaca;
    /* Slightly darker background on hover */
    --item-color: #333;
    /* Dark text color */
    --accent-color: rgb(244, 108, 59);
    /* Accent color for emphasis */
    --item-bg-lighter: #dcdcdc;
    /* Lighter background */
    --container-bg: #f0f0f0;
    /* Slightly off-white background for the container */
    --bg: #ededed;
    /* Light gray background for the overall page */
}


:root {
    line-height: 1.5;
    color-scheme: dark;

    color: rgba(255, 255, 255, 0.87);
    background-color: var(--bg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}